html
  head
    title We See, You Say
  body
    h1 We See, You Say
    a(href='https://api.instagram.com/oauth/authorize/?client_id=f76f61f397944fe6811dbacc70aaaeba&redirect_uri=http://localhost:3000/callback/instagram&response_type=code') Login With Instagram